small {
  display: block;
}

ul {
  margin-left: 5px;
}

li {
  list-style-type: none;
  list-style-position: inside;
  position: relative;
  margin-left: 18px;
}

li::before {
  position: absolute;
  left: -15px;
  content: '•';
  font-size: 12px;
}

body {
  padding-bottom: 120px;
}

.demo-logo small {
  font-size: 18px;
}

.demo-logo small a {
  color: rgba(52, 73, 94, 0.30000000000000004);
}

h2 {
  margin-top: 15px;
}

h4 {
  margin-top: 20px;
}
