html, body {
  height: 100%; }

html {
  background: url(/images/2014/background.jpg); }

body {
  background: url(/images/2014/left-background.jpg) 0 0 repeat-y;
  padding-top: 1px; }

nav {
  margin-top: 49px;
  margin-left: 50px;
  background: white;
  height: 49px;
  width: 699px; }
  nav h1 {
    font-family: "AvantGarde-CondensedMedium";
    text-transform: uppercase;
    padding: 1px 0 0 5px;
    margin: 0;
    display: inline-block;
    font-size: 55px;
    line-height: 55px; }
    nav h1 a {
      padding: 0;
      margin: 0;
      color: #ff1b86; }
    nav h1 span {
      padding-left: 5px; }
  nav .secondary {
    font-family: "NeuzeitGrotesk-Regular";
    display: inline-block;
    vertical-align: top;
    font-size: 150%;
    margin-left: 4px;
    padding-top: 1px; }
    nav .secondary span {
      text-transform: uppercase;
      color: #b1d199; }
    nav .secondary small {
      text-transform: lowercase;
      padding-left: 3px; }
  nav ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #2edee4; }
    nav ul li {
      display: inline-block;
      text-transform: lowercase;
      margin-top: 2px; }
      nav ul li:before {
        content: '/';
        font-size: 12px;
        padding: 0 11px; }
      nav ul li:first-child:before {
        content: none; }
      nav ul li a {
        color: #2edee4;
        padding: 0 2px;
        transition: all .1s linear; }
        nav ul li a:hover {
          color: white;
          background: #ff1b86; }
  nav a {
    text-decoration: none; }

body > section > div {
  background: white; }
