@import 'fonts';
@import 'colors';

html, body {
  height: 100%;
}

html {
  background: url(/images/2014/background.jpg);
}

body {
  background: url(/images/2014/left-background.jpg) 0 0 repeat-y;
  padding-top: 1px;
}

nav {
  margin-top: 49px;
  margin-left: 50px;
  background: white;
  height: 49px;
  width: 699px;

  h1 {
    @include avant-garde-font;
    text-transform: uppercase;
    padding: 1px 0 0 5px;
    margin: 0;
    display: inline-block;
    font-size: 55px;
    line-height: 55px;

    a {
      padding: 0;
      margin: 0;
      color: $magenta;
    }

    span {
      padding-left: 5px;
    }
  }

  .secondary {
    @include neuzeit-grotesk-font;
    display: inline-block;
    vertical-align: top;
    font-size: 150%;
    margin-left: 4px;
    padding-top: 1px;

    span {
      text-transform: uppercase;
      color: $pastel-green;
    }

    small {
      text-transform: lowercase;
      padding-left: 3px;
    }
  }

  ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: $cyan;

    li {
      display: inline-block;
      text-transform: lowercase;
      margin-top: 2px;

      &:before {
        content: '/';
        font-size: 12px;
        padding: 0 11px;
      }

      &:first-child {
        &:before {
          content: none;
        }
      }

      a {
        color: $cyan;
        padding: 0 2px;
        transition: all .1s linear;

        &:hover {
          color: white;
          background: $magenta;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

}

body {
  > section {
    > div {
      background: white;
    }
  }
}


