<section class="masthead" data-masthead>
  <h1>Jesse Trimble</h1>
  <h3>
    Software Development
    <small>Boulder, CO</small>
  </h3>
  <hr />
  <nav class="main-nav">
    <a href="/">Blog</a>
    <a href="/resume">Resume</a>
    <a href="/about">About</a>
  </nav>
  <nav class="secondary-nav">
    <a class="github" href="https://github.com/jtrim">Github</a>
    <a class="twitter" href="https://twitter.com/jessetrimble">Twitter</a>
    <a class="instagram" href="http://instagram.com/jessetrimble">Instagram</a>
  </nav>

  <div class="phone">
    <a class="mobile" href="tel:720-663-7759">(720) 663-7759</a>
    <span class="desktop">(720) 663-7759</span>
  </div>
</section>
