@import 'fonts/avant_garde_cond_medium';
@import 'fonts/neuzeit_grotesk';

@mixin sans-serif($primary) {
  font-family: $primary, Helvetica, Arial, 'Sans Serif';
}

%avant-garde {
  @include sans-serif(AvantGarde);
  font-weight: normal;
}

%neuzeit-grotesk {
  @include sans-serif(NeuzeitGrotesk);
  font-weight: normal;
}

%open-sans {
  @include sans-serif('Open Sans');
}

%roboto {
  @include sans-serif('Roboto');
}

%monospace {
  font-family: monospace;
}
