$box-spacing: 25px;
$restricted: 1044px;
$stacked: 599px;
$default-feature: max-width;

$wi-width: 1044px;
$wi-cols: 12;
$wi-gutter: 40px;
$wi-stacked-breakpoint: $stacked;

$fa-font-path: '/assets/components/fontawesome/fonts';


