* {
  @extend %open-sans;
}

body {
  @include media(min-width $restricted) {
    @include blackout-corners(top,
      url(/assets/images/tl.png),
      url(/assets/images/tr.png)
    );
  }

  padding-bottom: 50px;
}

footer {
  @include media(min-width $restricted) {
    @include blackout-corners(bottom,
      url(/assets/images/bl.png),
      url(/assets/images/br.png)
    );
  }
}

code {
  background: lighten(yellow, 20%);
  color: darken($blood-red, 10%);
  padding: 0 2px;
  font-size: 14px;
  @extend %monospace;
  line-height: 20px;

   * {
     @extend %monospace;
   }
}

h1, h2, h3, h4, h5, h6 {
  code {
    background: none;
    color: inherit;
    border: none;
  }

}

h4 code {
  font-size: 20px;
}

small code {
  font-size: 12px;
}

pre {
  margin: 10px -10px;
  background: $gray5;
  padding: 10px;
  background: $sky-blue;
  @extend %monospace;

  code {
    background: inherit;
    color: inherit;
    border: inherit;
    @extend %monospace;

    * {
      @extend %monospace;
    }
  }
}

p {
  line-height: 28px;

  &:first-child {
    margin-top: 0;
  }
}

div, p, section, article {
  font-size: 14px;
}

small,
p small {
  line-height: normal;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background: $gray4;
  position: relative;
  overflow: visible;
  @include hr-circle;
  @include hr-circle-sattellite;
  margin: 45px 0;
}

section {
  margin-top: $box-spacing;
  margin-bottom: $box-spacing;

  &:first-child {
    margin-top: 0;
  }
}

img {
  &:first-child {
    margin-top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $slate-blue;

  &:first-child {
    margin-top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  @extend %roboto;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h5, h6 {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-style: italic;
  margin: $box-spacing 0;
}

h1 {
  font-size: 40px;

  &:first-child {
    margin-top: -13px;
  }
}

h2 {
  font-size: 32px;

  &:first-child {
    margin-top: -10px;
  }
}

h3 {
  font-size: 24px;

  &:first-child {
    margin-top: -8px;
  }
}

h4 {
  font-size: 20px;

  &:first-child {
    margin-top: -7px;
  }
}

h5 {
  font-size: 20px;

  &:first-child {
    margin-top: -7px;
  }
}

h6 {
  font-size: 18px;

  &:first-child {
    margin-top: -7px;
  }
}

blockquote {
  border-left: 7px solid $gray5;
  padding-left: 10px;
  margin-left: 10px;
  font-weight: 300;
}

ul {
  list-style-type: none;
  list-stlye-position: inside;
  padding-left: 0;
}

li {
  line-height: 24px;
  margin-top: 3px;
  margin-bottom: 3px;

  border-left: 7px solid $gray5;
  padding-left: 10px;
  margin-left: 10px;
}
