footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 6px 0;
  border-top: 1px solid $gray4;
  background: rgba(white, 0.9);

  @include media($stacked) {
    position: inherit;
  }

  .secondary-nav {
    margin-top: 8px;

    a {
      $size: 18px;

      display: inline-block;
      width: $size + 2;
      padding-left: 1px;
      margin: 0 5px;
      overflow: hidden;
      font-size: $size;
      white-space: nowrap;
      color: $gray1;

      &.github    { @include icon(github) }
      &.twitter   { @include icon(twitter) }
      &.instagram { @include icon(instagram) }

      &:before {
        padding-right: 20px;
      }

      &:hover {
        color: $magenta;
      }
    }
  }
}
