.post {
  margin-bottom: 40px;

  .title {
    .title-link {
      @extend %roboto;
      font-weight: 300;
      color: $slate-blue;
      text-decoration: none;
      margin-bottom: 10px;

      &:hover {
        background: $pastel-green;
        color: white;
      }
    }

    small {
      font-style: italic;
      color: $gray2;
      text-transform: none;
      @extend %monospace;
      font-weight: normal;
      text-transform: lowercase;
      font-size: 12px;
      text-align: center;
      display: block;

      a {
        color: $gray3;
      }
    }
  }

  small {
    display: block;
    line-height: 18px;
    font-style: italic;
  }
}
