<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jesse Trimble</title>
    <link href="/assets/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="main">
      <section class="masthead">
        <h1>Jesse Trimble</h1>
        <h3>
          Software Development
          <small>Boulder, CO</small>
        </h3>
        <hr />
        <nav class="main-nav">
          <a href="#">Blog</a><!--
       --><a href="#">Resume</a><!--
       --><a href="#">About</a>
        </nav>
        <nav class="secondary-nav">
          <a class="github" href="#">Github</a><!--
       --><a class="twitter" href="#">Twitter</a><!--
       --><a class="instagram" href="#">Instagram</a>
        </nav>

        <div class="phone">(720) 663-7759</span>
      </section><!--
   --><section class="main-content">
      </section>
    </div>
    <footer></footer>
  </body>
</html>
