$magenta: #ff1b86;
$pastel-green: #b1d199;
$slate-blue: #14B8CC;
$blood-red: #b21267;
$sky-blue: #e3f9fc;
$cyan: #77eaee;

$gray1: #888888;
$gray2: #ababab;
$gray3: #afafaf;
$gray4: #cfcfcf;
$gray5: #efefef;
